/** IMPORTS **/
@import "variables.scss";
@import "reset.scss";

/** VERSION: PC **/
html,
body,
#__next {
  height: 100%;
  min-height: 100%;
}

body {
  background: #000;
}

#__next {
  display: flex;
  flex-direction: column;
}

#pc-wrap {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  .container {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    display: flex;
  }
}
